<h2>Lista de clientes</h2>
<table class="table table-striped">
    
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody >
        <tr *ngFor = "let client of clients">
            <td>{{client.name}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td> 
                <!-- <button (click)="updateClient(client.id)" class="btn btn-info">Editar</button> -->
                <button (click)="deleteClient(client.id)" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>

</table>
